".source.feature":
  "Feature":
    "prefix": "feature"
    "body": """
      Feature: ${1:Refund item}
        ${2:Sales assistants should be able to refund customers' purchases.
        This is required by the law, and is also essential in order to
        keep customers happy.}

        Scenario: ${3:Jeff returns a faulty microwave}
          Given ${4:Jeff has bought a microwave for £100}
          And ${5:He has a receipt}
          When ${6:He returns the microwave}
          Then ${7:Jeff should be refunded £100}
      $0
    """
